/.bundle/
/.idea/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/deploy/terraform/.terraform/
/deploy/terraform/*.tfstate*
/awslive-lambda-channelmonitor/.bundle
/awslive-lambda-channelmonitor/deps/*.zip
/awslive-lambda-channelmonitor/vendor
/awslive-lambda-channelmonitor/*.zip
/awslive-lambda-inputswitch/.bundle
/awslive-lambda-inputswitch/vendor
/awslive-lambda-inputswitch/*.zip

*.gem